* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
  position: relative;
}
.favourited {
  color: red;
}
.bi-star-fill {
  cursor: pointer;
}
#favourites {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: default;
}
.show {
  display: block;
}
